bingosize = 60px
game-bingo
  flow(column)

  h6
    padding 30px 0

    color grey

bingo-items
  flow(row)
  flex-wrap wrap

  div
    width 50%
    flow(column)
    align-items center
    margin-top 10px
    margin-bottom 5px


    label
      margin-top 5px
      font-size 14px

  button
    position relative
    background-color brand-color
    width bingosize
    height bingosize
    border-radius bingosize
    padding 0


  .selected
    &:after
      content ''
      absolute top left right
      height 100%
      background-color rgba(53, 169, 220, .4)
      background-image url('/img/test_check_white.png')
      background-repeat no-repeat
      background-position center center
      background-size 40px
      border-radius bingosize

  bingoicon(id)
    &.{id}
      background-image url('/img/bingo/'id'.jpg')

  button
    background-size bingosize!important
    background-position center center

    icons = massage manicure pedicure facial detox hair paleo italian sushi french seafood swank vegan vegetarian sushi pizza michelinstars cheapgood localibiza spanish 
    for ic in icons
      bingoicon(ic)
