nav.brand
  .back(ui-sref="plan")
  .title {{ model.entry.venue.name }}
  button.icon

.venue.narrow-container
  .venue-head
    .venue-name
      h5 {{ model.entry.venue.name }}

  .note
    h5 {{ model.expert.name }}'s Notes:
    p {{ model.entry.note }}

  .venue-address(ng-if="model.entry.venue.address")
    .address-detail
      label Address
      p {{ model.entry.venue.address }}
        

  .venue-description(ng-if="model.entry.venue.description")
    label Description
    p {{ model.entry.venue.description }}
