header-height = 40px

kalendario
  border 1px solid gray-7
  display flex
  flex-flow column

kalendario-header
  flow(row)
  justify-content space-between
  align-content center
  line-height header-height
  border-bottom 1px solid gray-7
  padding 5px
  button
    height header-height
    border-radius 0
    font-weight 900
    &:disabled
      color lightgrey
      background transparent

  .title
    font-size 18px
    text-transform uppercase
    color black
    font-weight 900

kalendario
  color brand-color
  button
    background-color transparent
    padding 0
    color brand-color

kalendario-content
  flow(column)

kalendario-labels
kalendario-week
  flow(row)


kalendario-labels > div
  font-size 10px
  color gray-7
  height 30px
  line-height 30px

kalendario-labels > div
.day
  flex .7

button.day
  background transparent
  border-radius 0
  height 50px
  line-height 30px
  color black

  &.highlighted
    border 1px solid brand-color
    border-radius 30px
    letter-spacing 0

  &:disabled
    color gray-7
    background transparent
