h2 Experiments

.ui.segment
  h3 Headlines 
  ui.list.ordered 
    .item.ui.segment(ng-repeat="opt in model")
      h4 {{ opt.value }}
      h5 {{ (opt.hits / opt.attempts)*100 }} %
      h6 {{ opt.hits }} / {{ opt.attempts }}
      
      
