.main 
  h1 Plan for {{ model.user.name }}
  h4.ui.teal.header {{ model.plan.delivery|humanize }} 
  
  div(ng-repeat="cat in model.categories", ng-if="model.plan.categories[cat.$id]")
    h3 {{ cat.$id|capitalize:'first' }}
    
    .ui.fluid.card(ng-repeat="e in model.plan.categories[cat.$id]"): .content 
      .header {{ e.venue.name }}
      .description 
        p {{ e.note }}
        p {{ e.venue.address}}
    
    .ui.section.divider
