**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*
app/assets/*html

_public
_public/*
node_modules/*
bower_components/*
npm-debug.log
out/*

.git/
server/*.js
.divshot-cache/
*.swp
