
div(ng-switch="question.type")
  div(ng-switch-when="about")
    h6 About you
    h3 {{ answer.age }} {{ answer.gender }} - {{ answer.preference }}
      
      
  div(ng-switch-when="company-details")
    h6 Travel Company Details
    div(ng-repeat="(key, ans) in answer") 
      h3 {{ key }} - {{ ans }}
  div(ng-switch-when="dates")
    h6 Dates
    h3 {{ answer.start|humanTime:'Do MM'}} 
      
  div(ng-switch-when="check-list")
    h6 {{ question.text }}
    h3 {{ answer.join(',') }}
  div(ng-switch-default)
    h6 {{ question.text }}
    h3 {{ answer }} 
      
