// brand-color = #cc3727
// lighter-brand = #E65B5B
// darker-brand = #A41717
//
// secondary-color = #CC9A2
//
// blue-color = #2274a5
// ligher-blue = #008ace
// dark-color = #252a33
//
//
// gray-1 = #363636
// gray-2 = #727272
// gray-3 = #868686
// gray-4 = #afafaf
// gray-5 = #c2c2c2
// gray-7 = #d7d7d7
// gray-8 = #f6f6f6
// gray-9 = #ECECEE
//
// text-color = gray-1
//
// success = #87c82e
// lighter-success = #9fd357
// darker-green = #7abb23

turquise = #1abc9c
dark-turquise = #16a085

green = #2ecc71
dark-green = #27ae60

blue = #3498db
dark-blue = #2980b9

purple = #9b59b6
dark-purple = #8e44ad

gray = #34495e
dark-gray = #2c3e50

yellow = #f1c40f
dark-yellow = #f39c12

orange = #e67e22
dark-orange = #d35400

red = #e74c3c
dark-red = #c0392b

s-white = #ecf0f1
dark-s-white = #bdc3c7

silver = #95a5a6
dark-silver = #7f8c8d


brand-color = red
sucess = green


clouds = s-white
