
[ui-sref]
[ng-click]
  cursor pointer

body
  font-family 'Helvetica Neue Light', Helvetica, Arial
  min-height 100vh
  > ui-view
    flex 1

circle(radius, color = black)
  width radius!important
  height radius!important
  min-width radius
  min-height radius
  border-radius radius!important
  background-color color
  line-height radius
  text-align center

bgimage(bg, size=cover)
  image bg
  background-size size!important
  background-repeat no-repeat
  background-position center

@import "colors"
@import "flex"
@import "input"
@import "hexagon"
@import "buttons"
@import "avatars"
