@require nib
@require jeet
@require "global/global"
@require "home/home"
@require "authentication/authentication"
@require "chat/chat"


.main
  center()
  flow(column)
  max-width 500px
.ui.menu
  a.active
    color red
