.hexagon
  img-hexagon(50px)
  margin-right 10px

.profile
  flow(row)
  align-items center

header
  flow(row)
  padding 5px 20px
  align-items center
  justify-content space-between

  .brand
    font-weight 700
    font-size 20px
