section
  row.split 
    naming
      .name {{ expert.first_name}} {{ expert.last_name[0] }}.
      label.member(ng-if="expert.since") Member Since {{ expert.since }}
    residence(ng-if="expert.residence")
      label Curent Residence 
      div {{ expert.residence }}
  
  row  
    work(ng-if="expert.work") 
      label Work 
      div {{ expert.work }} 
      
    response-rate(ng-if="expert.response")
      label Response Rate 
      div {{ expert.response }}% 
  
  
section(ng-if="expert.languages.length || expert.hometown")
  languages.split(ng-if="expert.languages.length")
    label Languages 
    values 
      div(ng-repeat="(id, skill) in expert.languages") {{ language.name(id) }}
        span {{ language.proficiency(skill) }}
        
  hometown(ng-if="expert.hometown")
    label Hometown
    div {{ expert.hometown }} 
    
section(ng-if="expert.rating.length || expert.about.length")
  about.split(ng-if="expert.about.length")
    label About 
    div {{ expert.about }}
  
  rating(ng-if="expert.rating.length")
    label Rating 
    stars(stars="expert.rating")
    
section(ng-if="expert.school")
  school 
    label School 
    div {{ expert.school }}
    
section(ng-show="expert.interests.split(',').length")
  interests 
    label Interests 
    values
      div(ng-repeat="i in expert.interests.split(',')") {{ i }}
        
section(ng-show="expert.skills.length")
  skills
    label Skills 
    values
      div(ng-repeat="i in expert.skills.split(',')") {{ i }}
              
section(ng-if="expert.verified")
  verified 
    label Verified ID 
    values
      div(ng-repeat="(thing, t) in expert.verified", ng-class="thing")
      
      
section(ng-if="expert.references.length")
  references 
    label {{ count(expert.references) }} References
    
    reference(ng-repeat="(user_id, ref) in expert.references")
      face(id="user_id")
      
      reference-details 
        p "{{ ref.comment }}"
        stars.small(stars="ref.rating")
  

  readmore
    button.brand-outline Read More 
