expert-profile section
  border-bottom 1px solid gray-5
  color gray-1
  text-align left
  padding 20px

  div
    color gray-1
    font-weight 600
    margin-top 5px

  label
    color gray-3
    font-weight 300
    font-size 14px

  .name
    color brand-color
    font-size 20px
    margin-bottom 5px
    text-transform uppercase

  values span
    color lighter-brand
    font-weight lighter
    margin 0 5px

  .split
    margin-bottom 40px

expert-profile
  width 100%

  row
    flow(row)
    > *
      flex 1

  languages
  interests
  skills
    flow(column)

    values
      div
        col(1/2, cycle:2)

  rating
    flow(column)
    align-items center

  references
    flow(column)

  reference
    flow(row)
    margin 15px 0
    position relative

    face
      width 60px
      height 60px
      border-radius 60px
      background-color pink
      text-align center
      line-height 60px

      margin-right 15px

    reference-details
      flow(column)
      flex 1
      margin-bottom 10px

      p
        font-size 18px
        margin-bottom 10px
    &:after
      content ''
      height 1px
      background-color gray-7
      absolute bottom 0 left 25%
      width 50%

  stars
    font-size 26px
    color brand-color

  readmore
    button
      center()


icon(url, ext='png')
  padding-left 16px
  position relative
  label:after
    content ''
    width 14px
    height 14px
    absolute top 2px left
    bgimage '/img/'+url
    background-size 11px!important

residence
  icon('profile_current_location.png')

hometown
  icon('profile_hometown.png')

work
  icon('profile_work.png')

languages
  icon('profile_language.png')

school
  icon('profile_education.png')

interests
  icon('profile_interest.png')

skills
  icon('profile_skills.png')

verified
  icon('profile_verifed.png')


verified
  values
    flow(row)
    justify-content space-around
    div
      margin 10px 8px

      width 24px
      height 25px
      bgimage '/img/verify_email.png' contain
      &.email
        image '/img/verify_email.png'

      &.gplus
        image '/img/verify_googleplus.png'

      &.phone
        image '/img/verify_phone.png'

      &.id
        image '/img/verify_identity.png'

      &.whatsapp
        image '/img/verify_whatsapp.png'
