//
h5 {{ model.q.text }}

form.paper-wrapper(name="paper")
  .paper-before

  .paper(ng-switch="model.q.type")
    div(ng-switch-when="bingo")
      game-bingo(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="about")
      game-about(question="model.q", delegate="model.answer(question, answer)", init="model.initAns", is-valid="formisvalid")
    div(ng-switch-when="about-details")
      game-about-details(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="company")
      game-company(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="company-details")
      game-company-details(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="dates")
      game-dates(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="rolling")
      game-rolling(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="check-list")
      game-check-list(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")
    div(ng-switch-when="freeform")
      game-freeform(question="model.q", delegate="model.answer(question, answer)", init="model.initAns")

  .paper-after

.game-buttons 
  button.next(ng-click="next()", ng-disabled="paper.$invalid" ng-class="{'boss-comming': model.bossLevelComming, 'boss-level': model.thisIsBossLevel}") {{ model.labelText }}
