brand-color = #35a9dc
lighter-brand = #52bcec
darker-brand = #006fc1


gray-1 = #363636
gray-2 = #727272
gray-3 = #868686
gray-4 = #afafaf
gray-5 = #c2c2c2
gray-6 = #d7d7d7
gray-7 = #d7d7d7
gray-8 = #f6f6f6
gray-9 = #ECECEE

text-color = gray-1

success = #87c82e
lighter-success = #9fd357
darker-green = #7abb23


.brand
  color brand-color!important
