@require "../base"


body
  flow(row)
  justify-content flex-start
  align-items flex-start

  background-color rgba(255, 251, 206, 0.1)

body > ui-view
  margin-top 30px
  margin-right 20px

a
  text-decoration none
  flow(column)
  color brand-color
  &:after
    content ""
    height 1px
    align-self center
    background-color darker-brand
    width 0%
    transition all .2s ease-in

  &:hover
    &:after
      width 100%



main
  flow(column)

  h1
    font-size 42px
    margin-bottom 30px
    font-weight 900
    font-family Oswald

    span
      color success
      font-size 20px

  jobscont
    margin-right 90px
    margin-bottom 30px

.job:last-child
  border-bottom-width 1px

.job
  border 1px solid gray-7
  border-bottom-width 0
  padding 30px
  width 100%
  background-color white
  flow(column)

  .title
    font-weight 500
    font-size 20px
    font-family Oswald
    margin-bottom 20px

  .profil
    margin-top 10px
    flow(row)
    align-items center
    &.micro
      img
        width 40px
        border-radius 10px
        margin-right 10px

  .description
    margin-left 50px
    margin-top 10px
    margin-bottom 10px
    color gray-1
    line-height 1.2em
    letter-spacing .1px

  .content
    flow(row)

    .left
      flex 1

    .right
      min-width 120px


  button
    outline none
    background-color success
    color white
    height 40px
    border 2px darker-green solid
    border-radius 5px
    font-size 14px
    cursor pointer
    font-weight 700
    transition all .3s ease-in
    opacity 0

  &:hover
    button
      opacity 1

button.primary
  outline none
  background-color success
  color white
  padding 10px
  border 2px darker-green solid
  border-radius 5px
  font-size 14px
  cursor pointer
  font-weight 700
  transition all .3s ease-in

@require "menu/menu"
@require "job/details"
@require "profile/profile"
