h1 Jonny Ibiza Terms of Service

h3 MAY 21, 2015

p THIS FOLLOWING USER AGREEMENT DESCRIBES THE TERMS AND CONDITIONS ON WHICH SECHRIST HOLDINGS, INC. (DBA: “JONNY IBIZA”) OFFERS YOU ACCESS TO THE JONNY IBIZA PLATFORM.

p These terms of service constitute a legally binding agreement (the “Agreement”) between you (“you,” or “your”) and Sechrist Holdings, Inc. (“Jonny Ibiza,” “we,” “us” or “our”), a Delaware corporation, governing your use of the Jonny Ibiza application, website, and technology platform (collectively, the “Jonny Ibiza Platform”).

p The Jonny Ibiza Platform provides a marketplace where persons who seek travel advice (“Travelers”) can be matched with persons living in, or very familiar with, those destinations (“Local Experts”). Local Experts and Travelers are collectively referred to herein as “Users” and each User shall create a User account that enables such User to access the Jonny Ibiza Platform. For purposes of this Agreement, the travel advice services provided by Local Experts to Travelers that are matched through the Platform shall be referred to collectively as the “Services”.

p JONNY IBIZA DOES NOT PROVIDE TRAVEL ADVICE SERVICES. IT IS UP TO THE LOCAL EXPERT TO DECIDE WHETHER OR NOT TO OFFER TRAVEL ADVICE TO A TRAVELER CONTACTED THROUGH THE JONNY IBIZA PLATFORM, AND IT IS UP TO THE TRAVELER TO DECIDE WHETHER OR NOT TO ACCEPT TRAVEL ADVICE FROM ANY LOCAL EXPERT CONTACTED THROUGH THE JONNY IBIZA PLATFORM. ANY DECISION BY A USER TO OFFER OR ACCEPT SERVICES ONCE SUCH USER IS MATCHED THROUGH THE JONNY IBIZA PLATFORM IS A DECISION MADE IN SUCH USER’S SOLE DISCRETION. EACH TRAVEL ADVICE SERVICE PROVIDED BY A LOCAL EXPERT TO A TRAVELER SHALL CONSTITUTE A SEPARATE AGREEMENT BETWEEN SUCH PERSONS.

p By creating your User account and using the Jonny Ibiza Platform, you expressly acknowledge that you understand this Agreement and accept all of its terms. IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MAY NOT USE OR ACCESS THE JONNY IBIZA PLATFORM OR THE SERVICES.

h2 Modification to the Agreement

p We reserve the right to modify the terms and conditions of this Agreement at any time, effective upon posting the amended terms on this site. If we make changes, we will notify you by, at a minimum, revising the “Last Updated” date at the top of this Agreement. You are responsible for regularly reviewing this Agreement. Continued use of the Jonny Ibiza Platform or Services after any such changes shall constitute your consent to such changes. If you do not agree to any such changes you may not use or access the Jonny Ibiza Platform or the Services.

h2 Eligibility

p The Jonny Ibiza Platform is available only to, and may only be used by individuals who can form legally binding contracts under applicable law. Without limiting the foregoing, the Jonny Ibiza Platform is not available to children (persons under the age of 18) or Users who have had their User account temporarily or permanently deactivated. By becoming a User, you represent and warrant that you are at least 18 years old and that you have the right, authority and capacity to enter into and abide by the terms and conditions of this Agreement.

h2 Payments

p As a Traveler, you agree that any amounts charged for travel advice (a “Charge”) are mandatory and due and payable immediately upon requesting the travel advice. Charges include Travel Advice Fees and other applicable fees, tolls, surcharges, and taxes, plus any tips to the Local Expert that you elect to pay. Jonny Ibiza has the authority and reserves the right to determine and modify pricing by posting applicable Charges to your market’s Jonny Ibiza Cities page. You are responsible for reviewing the applicable Jonny Ibiza Cities page and shall be responsible for all Charges incurred under your User account regardless of your awareness of such Charges or the amounts thereof. 

ul 
  li 
    strong Travel Advice Fees. 
    | Travel Advice Fees consist of a base price and incremental charges based additional services you select.
  li 
    strong Cancellation Fee.
    | In the event that you cancel a travel advice request on the Jonny Ibiza Platform more than 15 minutes after such request is made, or make repeated or frequent cancellations, you agree to pay a “Cancellation Fee”. We may also assess a Cancellation Fee against you if we suspect that you have intentionally cancelled travel advice requests to disrupt the Jonny Ibiza Platform or the provision of Services.
  li 
    strong Other Charges.
    | Other fees, tolls, and surcharges may apply to your travel advice, including: state or local fees, and processing fees for split payments. In addition, where required by law Jonny Ibiza will collect applicable taxes. See your market’s Jonny Ibiza Cities page for details on other Charges that may apply. 
  li 
    strong Facilitation of Payments. 
    | All Charges are facilitated through a third-party payment processing service (e.g., Stripe, Inc., or Braintree, a division of PayPal, Inc.). Jonny Ibiza may replace its third-party payment processing services without notice to you. Charges shall only be made through the Jonny Ibiza Platform. Cash payments are strictly prohibited.
  li 
    strong Refunds. 
    | Charges are assessed immediately following request of the travel advice to your authorized payment method. Charges are refundable up to 5 days after the completion of the anticipated end date of your trip, as you provide to the Jonny Ibiza platform.
  li 
    strong Promotions. 
    | Jonny Ibiza, at its sole discretion, may make available promotions with different features to any of our Travelers or prospective Travelers. These promotions, unless made to you, shall have no bearing whatsoever on your Agreement or relationship with Jonny Ibiza.
  li 
    strong Credit Card Authorization. 
    | Upon addition of a new payment method or each travel advice request, Jonny Ibiza may seek authorization of your selected payment method to verify your payment method, ensure the travel advice cost will be covered, and protect against unauthorized behavior. The authorization is not a charge, however, it may reduce your available credit by the authorization amount until your bank’s next processing cycle. Should the amount of our authorization exceed the total funds on deposit in your account, you may be subject to overdraft of NSF charges by the bank issuing your debit or check card. We cannot be held responsible for these charges and are unable to assist you in recovering them from your issuing bank. 

p As a Local Expert, you will receive applicable Travel Advice Fees and any tips provided by Travelers to you for the Services you provide (net of Jonny Ibiza’s Administrative Fee, as discussed below). Jonny Ibiza will process all payments due to you through its third party payments processor. You acknowledge and agree that such amounts shall not include any interest and will be net of any amounts that we are required to withhold by law. You expressly authorize Jonny Ibiza to set the prices on your behalf for all Charges that apply to the provision of Services. Jonny Ibiza reserves the right to withhold all or a portion of Travel Advice Fees if it believes that you have attempted to defraud or abuse Jonny Ibiza or Jonny Ibiza’s payment systems.

p In exchange for permitting you to offer your Services through the Jonny Ibiza Platform and marketplace as a Local Expert, you agree to pay Jonny Ibiza (and permit Jonny Ibiza to retain) a fee of up to 20% (the “Administrative Fee”) of the Travel Advice Fees paid by Travelers for such Services. The amount of the applicable Administrative Fee will be communicated to you in writing but is subject to change on a prospective basis at Jonny Ibiza’s discretion. 

p Jonny Ibiza, at its sole discretion, may make available promotions with different features to any Local Experts or prospective Local Experts. These promotions, unless made to you, shall have no bearing whatsoever on your Agreement or relationship with Jonny Ibiza.

h2 Your Information

p Your Information is any information you provide, publish or post to or through the Jonny Ibiza Platform (including any profile information you provide) or send to other Users (including via in-application feedback, any email feature, or through any Jonny Ibiza-related Facebook, Twitter or other social media posting) (your “Information”). You consent to us using your Information to create a User account that will allow you to use the Jonny Ibiza Platform and participate in the Services. Our collection and use of personal information in connection with the Jonny Ibiza Platform and Services is as provided in Jonny Ibiza’s Privacy Policy located at [https://www.jonnyibiza.com/privacy](https://www.jonnyibiza.com/privacy).

p You are solely responsible for your Information and your interactions with other members of the public, and we act only as a passive conduit for your online posting of your Information. You agree to provide and maintain accurate, current and complete information and that we and other members of the public may rely on your Information as accurate, current and complete.

p You warrant and represent to us that you are the sole author of your Information. To enable the Jonny Ibiza Platform to use your Information, you grant to us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable (through multiple tiers) right and license to exercise the copyright, publicity, and database rights you have in your Information, and to use, copy, perform, display and distribute such Information to prepare derivative works, or incorporate into other works, such Information, in any media now known or not currently known. Jonny Ibiza does not assert any ownership over your Information; rather, as between us and you, subject to the rights granted to us in this Agreement, you retain full ownership of all of your Information and any intellectual property rights or other proprietary rights associated with your Information.

p You are the sole authorized user of your account. You are responsible for maintaining the confidentiality of any password provided by you or Jonny Ibiza for accessing the Jonny Ibiza Platform. You are solely and fully responsible for all activities that occur under your User account, and Jonny Ibiza expressly disclaims any liability arising from the unauthorized use of your User account. Should you suspect that any unauthorized party may be using your User account or you suspect any other breach of security, you agree to notify us immediately.

h2 Social Networking Sites

p As part of the functionality of the Jonny Ibiza Platform, you may be able to create or login to your User account through online accounts you may have with third party social networking sites (each such account, an "SNS Account") by either providing your SNS Account login information through the Jonny Ibiza Platform or allowing Jonny Ibiza to access your SNS Account. By granting Jonny Ibiza access to any SNS Accounts, you understand that Jonny Ibiza may access, make available and store any content that you have provided to and stored in your SNS Account including without limitation any friend, mutual friends, contacts or following/followed lists (the “SNS Content”) so that it is available on and through the Jonny Ibiza Platform to other Users. Unless otherwise specified in this Agreement, all SNS Content, if any, shall be considered to be your Information. Depending on the privacy settings that you have set in such SNS Accounts, personally identifiable information that you post to your SNS Accounts may be available on and through the Jonny Ibiza Platform.

h2 Jonny Ibiza Communications

p By becoming a User, you expressly consent and agree to accept and receive communications from us, including via e-mail, text message, calls, and push notifications to the cellular telephone number you provided to us. By consenting to being contacted by Jonny Ibiza, you understand and agree that you may receive communications generated by automatic telephone dialing systems and/or which will deliver prerecorded messages sent by or on behalf of Jonny Ibiza, its affiliated companies and/or Local Experts, including but not limited to: operational communications concerning your User account or use of the Jonny Ibiza Platform or Services, updates concerning new and existing features on the Jonny Ibiza Platform, communications concerning promotions run by us or our third party partners, and news concerning Jonny Ibiza and industry developments. IF YOU WISH TO OPT-OUT OF PROMOTIONAL EMAILS, TEXT MESSAGES, OR OTHER COMMUNICATIONS, YOU MAY OPT-OUT BY FOLLOWING THE UNSUBSCRIBE OPTIONS PROVIDED TO YOU. Standard text messaging charges applied by your cell phone carrier will apply to text messages we send. You acknowledge that you are not required to consent to receive promotional messages as a condition of using the Jonny Ibiza Platform or the Services. However, you acknowledge that opting out of receiving text messages or other communications may impact your use of the Jonny Ibiza Platform or the Services.

h2 Restricted Activities

p With respect to your use of the Jonny Ibiza Platform and your participation in the Services, you agree that you will not:

ul 
  li impersonate any person or entity;
  li stalk, threaten, or otherwise harass any person, or carry any weapons;
  li violate any law, statute, ordinance or regulation;
  li interfere with or disrupt the Services or the Jonny Ibiza Platform or the servers or networks connected to the Jonny Ibiza Platform;
  li post Information or interact on the Jonny Ibiza Platform or Services in a manner which is false, inaccurate, misleading (directly or by omission or failure to update information), defamatory, libelous, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, or illegal;
  li use the Jonny Ibiza Platform in any way that infringes any third party’s rights, including but not limited to: intellectual property rights, copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy;
  li post, email or otherwise transmit any malicious code, files or programs designed to interrupt, damage, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or surreptitiously intercept or expropriate any system, data or personal information;
  li forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted through the Jonny Ibiza Platform;
  li “frame” or “mirror” any part of the Jonny Ibiza Platform, without our prior written authorization or use meta tags or code or other devices containing any reference to us in order to direct any person to any other web site for any purpose; or
  li modify, adapt, translate, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Jonny Ibiza Platform or any software used on or for the Jonny Ibiza Platform;
  li rent, lease, lend, sell, redistribute, license or sublicense the Jonny Ibiza Platform or access to any portion of the Jonny Ibiza Platform;
  li use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, scrape, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Jonny Ibiza Platform or its contents;
  li link directly or indirectly to any other web sites;
  li transfer or sell your User account, password and/or identification to any other party; or
  li cause any third party to engage in the restricted activities above.

p We reserve the right, but we have no obligation, to suspend or deactivate your User account if you do not comply with these prohibitions.

h2 Local Expert - Representations and Warranties

p By providing Services as a Local Expert on the Jonny Ibiza Platform, you represent, warrant, and agree that:

ul
  li You have valuable expertise and local knowledge of the area for which you will be providing advice to travelers.
  li You will be solely responsible for any and all liability that results from or is alleged as a result of your provision of Services, including, but not limited to personal injuries, death and property damages.
  li You will comply with all applicable laws, rules and regulations while providing Services, and you will be solely responsible for any violations of such provisions.
  li You will pay all applicable federal, state and local taxes based on your provision of Services and any payments received by you.
  li You will not make any misrepresentation regarding Jonny Ibiza, the Jonny Ibiza Platform, the Services or your status as a Local Expert, or, while providing the Services, or engage in any other activity in a manner that is inconsistent with your obligations under this Agreement.
  li You will not attempt to defraud Jonny Ibiza or Travelers in connection with your provision of Services. If we suspect that you have engaged in fraudulent activity we may withhold applicable Travel Advice Fees or other payments in question.
  li You will not discriminate or harass anyone on the basis of race, national origin, religion, gender, gender identity, physical or mental disability, medical condition, marital status, age or sexual orientation. You will make reasonable accommodation for service animals.
  li You agree that we may obtain information about you, including your criminal and driving records, and you agree to provide any further necessary authorizations to facilitate our access to such records during the term of the Agreement.

h2 Proprietary Rights and Trademark License

p All intellectual property rights in the Jonny Ibiza Platform shall be owned by us absolutely and in their entirety. These rights include and are not limited to database rights, copyright, design rights (whether registered or unregistered), trademarks (whether registered or unregistered) and other similar rights wherever existing in the world together with the right to apply for protection of the same. All other trademarks, logos, service marks, company or product names set forth in the Jonny Ibiza Platform are the property of their respective owners. You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information (“Submissions”) provided by you to us are non-confidential and shall become the sole property of Jonny Ibiza. Jonny Ibiza shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you.

p JONNY IBIZA, the Jonny Ibiza logos, designs, graphics, icons, scripts and service names are registered trademarks, trademarks or trade dress of Jonny Ibiza in the United States and/or other countries (collectively, the “Jonny Ibiza Marks”). If you provide Services as a Local Expert, Jonny Ibiza grants to you, during the term of this Agreement, and subject to your compliance with the terms and conditions of this Agreement, a limited, revocable, non-exclusive license to display and use the Jonny Ibiza Marks solely in connection with providing the Services through the Jonny Ibiza Platform (“License”). The License is non-transferable and non-assignable, and you shall not grant to any third party any right, permission, license or sublicense with respect to any of the rights granted hereunder without Jonny Ibiza’s prior written permission, which it may withhold in its sole discretion. The Jonny Ibiza Marks may not be used in any manner that is likely to cause confusion.

p You acknowledge that Jonny Ibiza is the owner and licensor of the Jonny Ibiza Marks, and that your use of the Jonny Ibiza Marks will confer no additional interest in or ownership of the Jonny Ibiza Marks in you but rather inures to the benefit of Jonny Ibiza. You agree to use the Jonny Ibiza Marks strictly in accordance with Jonny Ibiza’s Trademark Usage Guidelines, as may be provided to you and revised from time to time, and to immediately cease any use that Jonny Ibiza determines to nonconforming or otherwise unacceptable.

p You agree that you will not:

ul 
  li create any materials that incorporate the Jonny Ibiza Marks or any derivatives of the Jonny Ibiza Marks other than as expressly approved by Jonny Ibiza in writing;
  li use the Jonny Ibiza Marks in any way that tends to impair their validity as proprietary trademarks, service marks, trade names or trade dress, or use the Jonny Ibiza Marks other than in accordance with the terms, conditions and restrictions herein;
  li take any other action that would jeopardize or impair Jonny Ibiza’s rights as owner of the Jonny Ibiza Marks or the legality and/or enforceability of the Jonny Ibiza Marks, including, without limitation, challenging or opposing Jonny Ibiza’s ownership in the Jonny Ibiza Marks;
  li apply for trademark registration or renewal of trademark registration of any of the Jonny Ibiza Marks, any derivative of the Jonny Ibiza Marks, any combination of the Jonny Ibiza Marks and any other name, or any trademark, service mark, trade name, symbol or word which is similar to the Jonny Ibiza Marks;
  li use the Jonny Ibiza Marks on or in connection with any product, service or activity that is in violation of any law, statute, government regulation or standard.

p Violation of any provision of this License may result in immediate termination of the License, in Jonny Ibiza’s sole discretion. If you create any materials bearing the Jonny Ibiza Marks (in violation of this Agreement or otherwise), you agree that upon their creation Jonny Ibiza exclusively owns all right, title and interest in and to such materials, including without limitation any modifications to the Jonny Ibiza Marks or derivative works based on the Jonny Ibiza Marks. You further agree to assign any interest or right you may have in such materials to Jonny Ibiza, and to provide information and execute any documents as reasonably requested by Jonny Ibiza to enable Jonny Ibiza to formalize such assignment.

h2 Disclaimers

p The following disclaimers are made on behalf of Jonny Ibiza, our affiliates, and each of our respective officers, directors, employees, agents, shareholders and suppliers.

p The Jonny Ibiza Platform is provided on an “as is” basis and without any warranty or condition, express, implied or statutory. We do not guarantee and do not promise any specific results from use of the Jonny Ibiza Platform and/or the Services, including the ability to provide or receive Services at any given location or time.

p We specifically disclaim any implied warranties of title, merchantability, fitness for a particular purpose and non-infringement. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you. This warranty gives you specific legal rights and you may also have other legal rights that vary from state to state.

p We do not warrant that your use of the Jonny Ibiza Platform or Services will be accurate, complete, reliable, current, secure, uninterrupted, always available, or error-free, or will meet your requirements, that any defects in the Jonny Ibiza Platform will be corrected, or that the Jonny Ibiza Platform is free of viruses or other harmful components. We disclaim liability for, and no warranty is made with respect to, connectivity and availability of the Jonny Ibiza Platform or Services.

p We have no control over the quality or safety of the travel advice that occurs as a result of the Services. We cannot ensure that a Local Expert or Traveler will complete an arranged travel advice service.

p We cannot guarantee that each User is who he or she claims to be. Please use common sense when using the Jonny Ibiza Platform and Services. Please note that there are also risks of dealing with underage persons or people acting under false pretense, and we do not accept responsibility or liability for any content, communication or other use or access of the Jonny Ibiza Platform by persons under the age of 18 in violation of this Agreement. We encourage you to communicate directly with each potential Local Expert or Traveler prior to engaging in an arranged travel advice service.

p Jonny Ibiza is not responsible for the conduct, whether online or offline, of any User of the Jonny Ibiza Platform or Services. You are solely responsible for your interactions with other Users. By using the Jonny Ibiza Platform and participating in the Services, you agree to accept such risks and agree that Jonny Ibiza is not responsible for the acts or omissions of Users on the Jonny Ibiza Platform or participating in the Services.

p It is possible for others to obtain information about you that you provide, publish or post to or through the Jonny Ibiza Platform (including any profile information you provide), send to other Users, or share during the Services, and to use such information to harass or harm you. We are not responsible for the use of any personal information that you disclose to other Users on the Jonny Ibiza Platform or through the Services. Please carefully select the type of information that you post on the Jonny Ibiza Platform or through the Services or release to others. We disclaim all liability, regardless of the form of action, for the acts or omissions of other Users (including unauthorized users, or “hackers”).

p Opinions, advice, statements, offers, or other information or content made available through the Jonny Ibiza Platform, but not directly by us, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content. Under no circumstances will we be responsible for any loss or damage resulting from your reliance on information or other content posted on the Jonny Ibiza Platform or otherwise disseminated by third parties. We reserve the right, but we have no obligation, to monitor the materials posted in the public areas of the Jonny Ibiza Platform and remove any such material that in our sole opinion violates, or is alleged to violate, the law or this agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of Users or others.

p The Jonny Ibiza Platform contains (or you may be sent through the Jonny Ibiza Platform) links to other web sites owned and operated by third parties (“Third Party Sites”), as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software and other content or items belonging to or originating from third parties (“Third Party Content”). Such Third Party Sites and Third Party Content are not investigated, monitored or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any Third Party Sites or Third Party Content accessed through the Jonny Ibiza Platform.

p Location data provided by the Jonny Ibiza Platform is for basic location purposes only and is not intended to be relied upon in situations where precise location information is needed or where erroneous, inaccurate or incomplete location data may lead to death, personal injury, property or environmental damage. Neither Jonny Ibiza, nor any of its content providers, guarantees the availability, accuracy, completeness, reliability, or timeliness of location data displayed by the Jonny Ibiza Platform. Any of your Information, including geolocational data, you upload, provide, or post on the Jonny Ibiza Platform may be accessible to Jonny Ibiza and certain Users of the Jonny Ibiza Platform.

p This paragraph applies to any version of the Jonny Ibiza Platform that you acquire from the Apple App Store. This Agreement is entered into between you and Jonny Ibiza. Apple, Inc. (“Apple”) is not a party to this Agreement and shall have no obligations with respect to the Jonny Ibiza Platform. Jonny Ibiza, not Apple, is solely responsible for the Jonny Ibiza Platform and the content thereof as set forth hereunder. However, Apple and Apple’s subsidiaries are third party beneficiaries of this Agreement. Upon your acceptance of this Agreement, Apple shall have the right (and will be deemed to have accepted the right) to enforce this Agreement against you as a third party beneficiary thereof. This Agreement incorporates by reference the Licensed Application End User License Agreement published by Apple at [http://www.apple.com/legal/internet-services/itunes/appstore/dev/stdeula/](http://www.apple.com/legal/internet-services/itunes/appstore/dev/stdeula/), for purposes of which, you are “the end-user.” In the event of a conflict in the terms of the Licensed Application End User License Agreement and this Agreement, the terms of this Agreement shall control.

h2 Indemnity

p You will defend, indemnify, and hold us and our affiliates and each of our respective officers, directors, employees, agents, shareholders and suppliers harmless from any claims, actions, suits, losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or arising out of your use of the Jonny Ibiza Platform and participation in the Services, including:


ul 
  li your breach of this Agreement or the documents it incorporates by reference;
  li your violation of any law or the rights of a third party, including, without limitation, Local Experts, Travelers, other motorists, and pedestrians, as a result of your own interaction with such third party;
  li any allegation that any materials that you submit to us or transmit through the Jonny Ibiza Platform or to us infringe or otherwise violate the copyright, trademark, trade secret or other intellectual property or other rights of any third party;
  li any other activities in connection with the Services. This indemnity shall be applicable without regard to the negligence of any party, including any indemnified person.

h2 Limitation of Liability

p IN NO EVENT WILL WE, OUR AFFILIATES, OR EACH OF OUR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SHAREHOLDERS OR SUPPLIERS, BE LIABLE TO YOU FOR ANY INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR DELETION, CORRUPTION, LOSS OF DATA, LOSS OF PROGRAMS, FAILURE TO STORE ANY INFORMATION OR OTHER CONTENT MAINTAINED OR TRANSMITTED BY THE JONNY IBIZA PLATFORM, SERVICE INTERRUPTIONS, OR FOR THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES) ARISING OUT OF OR IN CONNECTION WITH THE JONNY IBIZA PLATFORM, THE SERVICES, OR THIS AGREEMENT, HOWEVER ARISING INCLUDING NEGLIGENCE, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES (PROVIDED HOWEVER THAT THIS PROVISION SHALL NOT LIMIT THE SCOPE OF JONNY IBIZA’S INSURANCE POLICIES REFERENCED AT WWW.JONNYiBIZA.COM/SAFETY). WE WILL NOT BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL AND/OR CONSEQUENTIAL (INCLUDING, BUT NOT LIMITED TO PHYSICAL DAMAGES, BODILY INJURY, DEATH AND/OR EMOTIONAL DISTRESS AND DISCOMFORT) ARISING OUT OF YOUR COMMUNICATING WITH OR MEETING OTHER USERS OF THE JONNY IBIZA PLATFORM OR SERVICES, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CERTAIN JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.

h2 Release

p In the event that you have a dispute with one or more Users, you agree to release Jonny Ibiza (including our affiliates and each of our respective officers, directors, employees, agents, shareholders, and suppliers) from claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected to such disputes with other Users or to your use of the Jonny Ibiza Platform or participation in the Services. Furthermore, you expressly waive any rights you may have under California Civil Code Section 1542 (or analogous laws of other states), which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor.” We reserve the right, but have no obligation, to monitor disputes between you and other Users.

p Term and Termination

p This Agreement is effective upon your creation of a User account, as amended by any modifications made pursuant to Section 1. You may discontinue your use of the Jonny Ibiza Platform or participation in the Services at any time, for any reason. We may suspend or deactivate your User account (either as a Traveler and/or Local Expert), or revoke your permission to access the Jonny Ibiza Platform, at any time, for any reason, upon notice to you. We reserve the right to refuse access to the Jonny Ibiza Platform to any User for any reason not prohibited by law. Either party may terminate the Agreement for any reason upon written notice to the other party. Sections 1, 4 (with respect to the license), 6-11 and 13-21 shall survive any termination or expiration of this Agreement.

h2 Agreement to Arbitrate All Disputes and Legal Claims

p You and We agree that any legal disputes or claims arising out of or related to the Agreement (including but not limited to the use of the Jonny Ibiza Platform and/or the Services, or the interpretation, enforceability, revocability, or validity of the Agreement, or the arbitrability of any dispute), that cannot be resolved informally shall be submitted to binding arbitration in the state in which the Agreement was performed. The arbitration shall be conducted by the American Arbitration Association under its Commercial Arbitration Rules (a copy of which can be obtained [here](https://www.adr.org/aaa/faces/rules/searchrules/rulesdetail?doc=ADRSTG_004130)), or as otherwise mutually agreed by you and we. Any judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof. Claims shall be brought within the time required by applicable law. You and we agree that any claim, action or proceeding arising out of or related to the Agreement must be brought in your individual capacity, and not as a plaintiff or class member in any purported class, collective, or representative proceeding. The arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative, collective, or class proceeding.

p YOU ACKNOWLEDGE AND AGREE THAT YOU AND JONNY IBIZA ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING.

h2 Confidentiality 

p You agree not to use any technical, financial, strategic and other proprietary and confidential information relating to Jonny Ibiza’s business, operations and properties, including User information (“Confidential Information”) disclosed to you by Jonny Ibiza for your own use or for any purpose other than as contemplated herein. You shall not disclose or permit disclosure of any Confidential Information to third parties. You agree to take all reasonable measures to protect the secrecy of and avoid disclosure or use of Confidential Information of Jonny Ibiza in order to prevent it from falling into the public domain. Notwithstanding the above, you shall not have liability to Jonny Ibiza with regard to any Confidential Information which you can prove: was in the public domain at the time it was disclosed by Jonny Ibiza or has entered the public domain through no fault of yours; was known to you, without restriction, at the time of disclosure, as demonstrated by files in existence at the time of disclosure; is disclosed with the prior written approval of Jonny Ibiza; becomes known to you, without restriction, from a source other than Jonny Ibiza without breach of this Agreement by you and otherwise not in violation of Jonny Ibiza’s rights; or is disclosed pursuant to the order or requirement of a court, administrative agency, or other governmental body; provided, however, that You shall provide prompt notice of such court order or requirement to Jonny Ibiza to enable Jonny Ibiza to seek a protective order or otherwise prevent or restrict such disclosure.

h2 No Agency

p You and Jonny Ibiza are independent contractors, and no agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship is intended or created by this Agreement.

h2 General

p This Agreement shall be governed by the laws of the State of California without regard to choice of law principles. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. You agree that this Agreement and all incorporated agreements may be automatically assigned by Jonny Ibiza, in our sole discretion in accordance with the “Notices” section of this Agreement. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of such section. A party’s failure to act with respect to a breach by the other party does not constitute a waiver of the party’s right to act with respect to subsequent or similar breaches. This Agreement sets forth the entire understanding and agreement between you and Jonny Ibiza with respect to the subject matter hereof.


h1 Privacy Policy

p Jonny Ibiza is dedicated to protecting Your personal information and informing You about how We use it. This privacy policy applies to transactions and activities and data gathered through the Jonny Ibiza Platform. Please review this privacy policy periodically as We may revise it without notice. This privacy policy was last revised on May 21, 2015 . Each time You use the Jonny Ibiza Platform or provide Us with information, by doing so You are accepting the practices described in this privacy policy at that time.

h2 Data We Collect From You

p In order to operate the Jonny Ibiza Platform and to provide You with information about products or services that may be of interest to You, We may collect “personal information” (i.e. information that could be used to contact You directly (without using the Jonny Ibiza Platform) such as full name, postal address, phone number, credit/debit card information, or email address) or “demographic information” (i.e. information that You submit, or that We collect, that is not personal information; this may include, but is not limited to, zip code, hometown, gender, username, age/birth date, browsing history information, searching history information, and registration history information). We will also collect the contact information of Your friends, if You choose to connect Your contacts and address book information with Jonny Ibiza and Your login credentials to Your social network accounts, such as Facebook and Twitter, if You choose to connect those accounts with your Jonny Ibiza account. You represent and warrant that You have the authority to provide Us with any such contact information. Demographic information is divided into two categories:

ul 
  li “non-public information”, which consists of travel advice transaction information and one-on-one communications between You and other users of the Jonny Ibiza Platform; and
  li “public information”, which consists of all other demographic information.

p Please note that nowhere on the Jonny Ibiza Platform do We knowingly collect, keep or maintain personal information from children under the age of 18, as We require that all users represent to Us that they are at least 18 years old.

h2 How We Use Personal Information

p We use Your email address and Your other personal information to help Us efficiently operate the Jonny Ibiza Platform, to contact You in connection with Your transactions and other activities on the Jonny Ibiza Platform (including, but not limited to, confirmation emails, or important news that could affect Your relationship with Jonny Ibiza), to forward trip information to You from other Users, to forward trip information from You to other Users, and to contact You and others to suggest potential matches. We use Your contact information to find and connect with Your friends (when instructed by You). These types of communications are known as “Operational Communications.” In some cases, Operational Communications may also contain commercial messages, such as banner ads and special offers.

p To operate the Jonny Ibiza Platform, including processing Your transactions and supporting Your activities on the Jonny Ibiza Platform, We may share Your personal information with Our agents, representatives, contractors and service providers so they can provide Us with support services such as email origination, receipt or support services, customer relationship management services, and order fulfillment. We require these entities not to use Your information for any other purpose.

p By purchasing, or registering or making reservations for, products or services offered or sponsored by third parties on the Jonny Ibiza Platform, or electing to receive communications (such as emails or material by mail) or electing to participate in contests, sweepstakes or other programs (such as discount or rewards programs), offered or sponsored by third parties on the Jonny Ibiza Platform, You consent to Our providing Your personal information to those third parties. Those third parties may use Your personal information in accordance with their own privacy policies. You will need to contact those third parties to instruct them directly regarding Your preferences for the use of Your personal information by them. Additionally, You agree that We may use and disclose all such information so submitted to such third parties in the same manner in which We are entitled to use and disclose any other information You submit to Us.

p Any third party with whom We are allowed to share Your personal information is authorized to use Your personal information in accordance with Our contractual arrangements with such third parties and in accordance with their own privacy policies, over which We have no control, and You agree that We are not responsible or liable for any of their actions or omissions. Those who contact You will need to be instructed directly by You regarding Your preferences for the use of Your personal information by them.

h2 How We Use Demographic Data

p We may review all demographic Data. We may use public information to enable other users to search Your profile, to determine whether Your trip details fit other user's requirements, and to communicate with You. We may use demographic information to tailor the Jonny Ibiza Platform and communications to Your interests. We may also share demographic information with advertisers on an anonymous and aggregated basis (i.e., without telling the advertisers Your identity). One of the reasons We may do this is to increase the likelihood that Our advertisers' goods and services will appeal to You as a user of the Jonny Ibiza Platform. Our sharing of demographic information with advertisers is anonymous (i.e., We do not tell advertisers which particular Jonny Ibiza Users are members of which demographic groups), subject to the rest of this privacy policy. When You respond to an advertisement, however, We ask You to remember that if that ad that is targeted to a demographic group and You decide to give the advertiser Your personal information, then the advertiser may be able to identify You as being a member of that demographic group.

h2 How to Edit Your Information

p Jonny Ibiza provides You with the ability to access and edit Your personal information. To update Your personal info, click Settings in the Jonny Ibiza menu. There You can view, update and correct Your account information.

p So that We can protect the integrity of sensitive data, there are certain pieces of information, such as Your age, that You cannot alter Yourself.

p Our databases automatically update any personal information You edit in Your profile, or that You request We edit. Information transmitted through boards, chats, polls or through any other means remain in Our databases and become the property of Jonny Ibiza upon submission. Keep this in mind if You decide to communicate personal information through any of these applications.

h2 Information Retention 

p To preserve the integrity of Our databases, standard procedure calls for Us to retain information submitted by members for an indefinite length of time. Jonny Ibiza understands Your submissions as consent to store all Your information in one place for this indefinite length of time, if We so wish. If required by law, as is the case to comply with the Children's Online Privacy Protection Act (COPPA), We will nullify member information by erasing it from Our database. We will also respond to written member requests to nullify account information. Also, by using the Jonny Ibiza Platform, You do hereby represent and warrant that You understand and agree that all information submitted by You through the Jonny Ibiza Platform or otherwise to Jonny Ibiza becomes the property of Jonny Ibiza and may be used in the sole discretion of Jonny Ibiza in accordance with this Privacy Policy and the Terms of Use.

h2 Choice/Opt-Out

p Jonny Ibiza provides Users the opportunity to opt-out of receiving communications from Us and Our partners at the point where We request information about the visitor. Jonny Ibiza gives Users the option to remove their information from Our database, to not receive future communications or to no longer receive Our service.

h2 Special Cases in Which We Share Personal Information

p Your personal information may be passed on to a third party in the event of a transfer of ownership or assets, or a bankruptcy. We may also disclose personal information when We determine that such disclosure is necessary to comply with applicable law, to cooperate with law enforcement or to protect the interests or safety of Jonny Ibiza or other visitors to the Jonny Ibiza Platform. We also may disclose Your personal information to Our subsidiary and parent companies and businesses, and other affiliated legal entities and businesses with whom We are under common corporate control. Whenever personal information is disclosed under this paragraph, We may also disclose Your demographic information along with it, on a non-anonymous basis. All of Our parent, subsidiary and affiliated legal entities and businesses that receive Your personal information or non-anonymous demographic information from Us will comply with the terms of this privacy policy with respect to their use and disclosure of such information.


h2 Our Security Precautions

p Your Jonny Ibiza Profile is password-protected so that only You and authorized Jonny Ibiza employees have access to Your account information. If You have registered for Jonny Ibiza using Facebook Connect, then Your login and password shall be the same as Your Facebook login and password. In order to maintain this protection, do not give Your password to anyone. Jonny Ibiza staff will never proactively reach out to You and ask for any personal account information, including Your password. If You share a computer, You should sign out of Your Jonny Ibiza account and close the browser window before someone else logs on. This will help protect Your information entered on public terminals from disclosure to third parties.

p Jonny Ibiza makes every effort to ensure that Your information is secure on its system. Jonny Ibiza has staff dedicated to maintaining Our privacy policy as set forth herein and other privacy initiatives, periodically reviewing Web security and making sure that every Jonny Ibiza employee is aware of Our security practices. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, Jonny Ibiza cannot guarantee the security of any information You transmit to Us, and You do so at Your own risk. If You have any further questions on this issue, refer to Jonny Ibiza Terms of Use. Jonny Ibiza expressly disclaims any liability that may arise should any other individuals obtain the information You submit to the Jonny Ibiza Platform.

p Jonny Ibiza has security measures in place to protect against the loss, misuse and alteration of the information under Our control. Your information may be transferred to and maintained on computer networks which may be located outside of the state, province, country or other governmental jurisdiction in which You reside, and the country or jurisdiction in which these computer networks are located may not have privacy laws as protective as the laws in Your country or jurisdiction.

p The Jonny Ibiza Platform may contain links to other web sites. We are of course not responsible for the privacy practices of other web sites. We encourage Our Users to be aware when they leave the Jonny Ibiza Platform to read the privacy statements of each and every web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by the Jonny Ibiza Platform.

h2 Changing our Privacy Policy for Previously Gathered Information

p If at any point We decide to use particular personally identifiable information in a manner materially different from that stated at the time it was collected, We will notify Users by way of an email or by providing 30 days notice on the Jonny Ibiza Platform. We also encourage You to review this privacy policy periodically. By using the Jonny Ibiza Platform, You do hereby represent and warrant that You have read, understand and agree to all terms of Agreement. Each time You use the Jonny Ibiza Platform, You agree to all terms set forth in this Agreement and any other policies published by Jonny Ibiza on the Jonny Ibiza Platform. Please note that We will continue to have the right to change Our privacy policy and practices, and how We use Your personally identifiable information, without notice, as described in herein, provided that such changes shall only apply to information gathered on or after the date of the change.

h2 Contacting Jonny Ibiza 

p If You have any questions about this privacy statement, the practices of Jonny Ibiza, or Your dealings with Jonny Ibiza, You may contact Us at 
  a(ui-sref="contact") our support center. 
  
  
