//
   Created by popara on 4/9/15.

.login.md-whiteframe-z1: form(name="login")
  h2 Hey, type in credentials to begin the Plan Making
  p 
    md-input-container 
      label Email 
      input(type="email", ng-model="model.email")
  p
    md-input-container 
      label Password 
      input(type="password", ng-model="model.password")

  md-progress-linear(md-mode="indeterminate", ng-show="pending")


  p: md-button.md-primary.md-raised(ng-click="attempt(model.loginWithCreds())", ng-hide="pending") Do da thing! Get me in!

md-divider 

a(ui-sref="forgot") Have you forgot your password?
