h1 Are you a local Ibiza Expert? 

form(name="signup")
  md-input-container
    label First Name 
    input(type="text", ng-model="profile.first_name", name="first_name", ng-required="true")
    
  md-input-container
    label Last Name 
    input(type="text", ng-model="profile.last_name", name="last_name", ng-required="true")
    
    
  md-input-container 
    label Email 
    input(type="email", ng-model="profile.email", name="email", ng-required="true")
    
  md-input-container 
    label Password 
    input(type="password", ng-model="profile.password", name="password", ng-required="true")
    
h4.error(ng-switch="lastError.code", ng-hide="pending", ng-if="lastError") 
  div(ng-switch-when="EMAIL_TAKEN") Oops, it seems that {{ profile.email }} is already taken. 

div 
  md-progress-linear(md-mode="indeterminate", ng-show="pending")
  md-button.md-primary.md-raised(ng-hide="pending", ng-click="attempt(model.createUser(profile))", ng-disabled="signup.$invalid") Welcome!
