list-check(items="suggestions", item-checked="inAnswer(value)", toggle-item="addOrRemove(value)", item-label="labels(item)")
section
  .label Optional
  textarea(placeholder="Want to tell us more about it?", msd-elastic="\n", ng-model="extra")
