others-bubble-color = #CDE3F0
mebc = gray-9

.chat-agent
.chat-us
.chat-user
  height 100vh
  flow(column)

  form
    background-color gray-9
    flow(row)
    padding 15px
    textarea
      flex 1
      margin-right 10px
      border none
      padding 8px 10px


    button
      border-radius 3px
      min-height 45px
      padding 10px 20px
      letter-spacing 1px



chatwindow
  flex 1
  background-color white
  overflow-y scroll

  chatitem
    transition all .5s linear


    flow(row)
    margin 15px
    align-items flex-end

    .face
      circle(45px, gray-4)
      min-width 45px
      margin-right 10px

    chatbubble
      flow(column)
      background-color others-bubble-color
      border-radius 20px
      padding 15px 20px
      text-align left
      font-size 18px
      line-height 22px
      margin-right 20px
      position relative


      timestamp
        flex 1
        color brand-color

      &:after
        content ''
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 35px 22px 24px;
        border-color: transparent transparent others-bubble-color transparent;

        absolute bottom left -20px


  chatitem.me
    flow(row-reverse)

    .face
      margin-right 2px
      margin-left 0
      background-color brand-color
      margin-bottom 2px
    chatbubble
      margin-left 20px
      margin-right 10px
      background-color mebc

      timestamp
        width 100%
        align-self flex-end
        text-align right

      &:after
        left inherit
        absolute bottom 0 right -20px
        border-width: 0 35px 22px 24px!important
        border-color: transparent transparent mebc transparent;


.chat-us .other .face
  image '/img/mrwolf.jpg'

  background-size cover!important


main > .chat-cont
  overflow-y scroll
