md-toolbar: .md-toolbar-tools(layout="row")
  md-button.md-icon-button(ui-sref="home", aria-label="Back") 
    ng-md-icon(icon="chevron_left")
  h2(ui-sref="home") Back 
  span(flex)
  h1 {{ model.other.name }}
  h1(ng-if="model.us") Mr. Wolf 
  span(flex)
  md-button.md-icon-button(ng-hide="us", ui-sref="client({id: model.client})", aria-label="Client profile")
    ng-md-icon(icon="person", size="32")
.chat-cont(ng-class="{'chat-us': model.us, 'chat-user': !model.us}")
  chatwindow(scroll-glue="")
    chatitem(ng-repeat="m in model.room", ng-class="m.who == model.auth.uid ? 'me': 'other'") 
      .face
        img(ng-if="m.who == model.auth.uid", ng-src="{{ model.user.thumb }}")
      chatbubble 
        p {{ m.what }}
        timestamp {{ m.at | humanize }}
  
  form(name="shout")
    textarea(ng-disabled="pending", ng-model="what", msd-elastic="\n", placeholder="type your message here", style="font-size: 18px;")
    md-button.md-primary.md-raised(ng-click="reset('what', model.shout(model.room, what))", ng-disabled="pending") Send
