venuehighlighter
  flow(row)

  arrow
    width 40px
    height 100%
    align-self center
    text-align center 

  venue-small
    flow(row)
    flex 1
    padding 10px

  venue-image
    image '/img/villa.jpg'
    width 105px
    height 95px
    background-size cover
    margin-right 10px

  venue-basic-info
    flex 1
    flow(column)

    justify-content space-between
    text-align left

    name
      font-weight 900
      font-size 14px
      margin-bottom 5px

    description
      font-size 11px
      color gray-3
      font-weight 300

  venue-detail
    flow(column)
    text-align right
    venue-price
      font-size 20px
      font-weight 500

    label
      font-size 11px
      color gray-2
