arrow(ng-click="prev()", ng-show="items.length > 1"): svg-icon(p="chevronleft")
venue-small  
  venue-image 
  venue-basic-info
    name {{ highlighted.venue.name }}
    
  
arrow(ng-click="next()", ng-show="items.length > 1"): svg-icon(p="chevronright")
