section(ng-if="c.malefriends")
  .label Male friends
  h4 How many male friends?

  .slider 
    input(type="tel", ng-model="a.malefriends.count")
    label {{ a.malefriends.count }}

section(ng-if="c.femalefriends")
  .label Female friends
  h4 How many female friends?

  .slider
    input(type="tel",  name="a.femalefriends.count", ng-model="a.femalefriends.count")
    label {{ a.femalefriends.count }}
  //- h4 In what age range are they?
  //- div [RANGE - SLIDER]

section(ng-if="c.kids")
  .label Kids

  h4 How many kids?

  div
    h4 Girls
    .slider
      input(type="tel",  name="a.kids.girls", ng-model="a.kids.girls")
      label {{ a.kids.count }}

  div
    h4 Boys
    .slider
      input(type="tel",  name="a.kids.boys", ng-model="a.kids.boys")
      label {{ a.kids.count }}

section(ng-if="c.pets")
  .label Pets

  h4 How many pets?
  .slider 
    input(type="tel", name="a.pets.count", ng-model="a.pets.count")
    span {{ a.pets.count }}

section(ng-if="c.yourparents")
  .label Your parents
  h4 How many parents?

  .slider 
    input(type="tel", name="a.parents.count", ng-model="a.parents.count")
  //- h4 In what age range are they?
  //- .range-group
  //-   input(type="tel", ng-model="parents.age.from")
  //-   input(type="tel", ng-model="parents.age.to")


section
  .label Optional
  textarea(placeholder="Want to tell us more about who is coming?", msd-elastyc, ng-model="a.details", ng-init="a.details = ''")
