md-toolbar: .md-toolbar-tools 
  h1 Welcome
  
div(layout="row", layout-padding)
  jdeck(deck="model", change="model.$save()", delete="options.deleteIt(model)", flex)
  .jcards
    h3 Premade cards 
    div(ng-repeat="card in options.cards", layout="row", layout-align="start center", ng-if="!options.in(card, model.cards)") 
      md-button.small-btn(ng-click="options.addCard(card)", aria-label="add card to deck"): ng-md-icon(icon="add_circle", style="fill: green")
      h3(flex) {{ card.entry.venue.name }}  
  
  
  
