jcard
  margin 5px
  background white
  border 2px dashed gray-7
  box-shadow 0 2px 5px gray-5
  transition all .2s ease-out
  padding 5px

  &.ng-enter
    transform translate(-500px, 0)

  &.ng-enter-active
    transform translate(0, 0)

  .category
    margin 50px 0

  .delete
    max-width 30px
    color gray-4
    fill gray-4

    ng-md-icon
      height 12px

    span
      font-size 10px
      color gray-3

.jcard-cont
  margin 30px 10px
  padding 20px
  background gray-8


.small-btn
  width 40px
  min-width 40px
  padding-top 15px

.jcards
  margin-top 10px
  margin-left 10px


.decks-placement
  .md-button
    flow(row)
  ng-md-icon
    height 25px
    margin-right 8px 
  svg
    fill success
