brand 
  h3 &#9733; Svi Na Rad 
ribbon 
  a(ui-sref="intro") Otvoreni poslovi
  a(href="#") Poslovi za koje sam zadužen
  a(href="#") Profil 
  .divider 
  a(href="#") Istorija poslova 
  .divider.bigger
  a(href="#") Odjava 
  
