menu-snr
  background-color gray-1
  flow(column)
  margin-left 10px
  margin-right 20px
  max-width 250px

  brand
    margin 10px 5px
    margin-bottom 30px
    h3
      font-size 20px
      text-transform uppercase
      font-family Oswald, Impact
      color brand-color



  ribbon
    margin-top 150px
    flow(column)
    padding-left 10px
    padding-right 10px
    padding-bottom 30px
    min-width 150px
    
    .divider
      width 100%
      height 1px
      background-color gray-2
      margin 10px 0

    a
      color gray-7
      font-size 14px
      padding 3px 4px
      padding-top 20px
      margin-bottom 20px
      color s-white
      &:hover
        color white
