brand 
  h3 &#9733; Svi Na Rad 
ribbon 
  a(ui-sref="intro") Otvoreni poslovi
  a(ui-sref="assigned") Poslovi za koje sam zadužen
  a(ui-sref="uncleared") Ne isplaceni zavrseni poslovi
  a(ui-sref="history") Istorija poslova 
  .divider 
  a(ui-sref="profile") Profil 
  .divider.bigger
  a(ui-sref="logout") Odjava 
  
