h1 Crap, it happens sometimes.

h4 But, don't worry! We know how to do it, we will restore you memory of your Jonny password.

h3 Just focus on red light below and type your email on dotted lines.




form(name="forgot")
  p
    input(type="email", ng-model="forgotEmail")
    .redlight

  p: button(ng-click="model.forgot(forgotEmail)") OK, restore my memory!

