h4 Reset your password

form(name="reset") 
  md-input-container 
    label New Password 
    input(type="password", ng-model="pass1", ng-required="true", ng-minlenght="4")
    
  md-input-container 
    label Again dummy! 
    input(type="password", ng-model="pass2", ng-required="true", ng-minlenght="4")
    
  md-button.md-primary.md-raised(ng-hide="pending", ng-disabled="pass1 != pass2", ng-click="attempt(model(pass1))") Change Password  
  md-progress-linear(md-mode="indeterminate", ng-show="pending")
