flow(direction)
  display flex
  flex-flow direction

bgimage(bg, size=cover)
  image bg
  // background-size size!important
  background-repeat no-repeat
  background-position center

circle(radius, color = black)
  width radius
  height radius
  min-width radius
  min-height radius
  max-width radius
  max-height radius
  border-radius radius
  background-color color
  line-height radius
  text-align center
