md-toolbar: .md-toolbar-tools(layout="row")
  md-button.md-icon-button(ng-click="toggle()", aria-label="Open Menu", ng-hide="showBack")
    ng-md-icon(icon="chevron_left")

  span(flex)
  
  
  md-button.md-fab.md-mini(aria-label="Your profile")
    img.md-avatar(ng-src="{{ user.pic.thumb }}")
