form(name="profil")
  h3 Super Simple Form!
  p
    h6 Your name
    input(
      type="text",
      ng-model="model.p.name",
      placeholder="Your name",
      ng-required="true"
    )

  p
    h6 Your age
    input(type="text", ng-model="model.p.age", placeholder="What is your age?", ng-required="true")


  p
    h6 Which gender you think you are?
    button-group
      button(ng-repeat="(val, label) in options", type="button", ng-click="model.p.sex = val", ng-class="{'active': model.p.sex == val}") {{ label }}


  p.finish
    h4 {{ pending }}
    button(ng-show="profil.$valid && model.p.sex", ng-disabled="profil.$invalid", ng-click="attempt(model.save())") FINISH SUPER SIMPLE FORM!




