//
   Created by popara on 5/4/15.

h4 We want to get to know you, so we can improve your Ibiza experience.

h5 You can point us to your Facebook profile. We need your basic info.
p: button(ng-click="model.auth('facebook')") Pull data from Facebook

h5 Or you can fill this
p: button(ui-sref="^.simpleform") SUPER SIMPLE FORM

