@require nib

small-venue
  flow(column)


  .photo
    min-height 290px
    background-color greenyellow
    image '/img/villa.jpg'
    background-size cover
    background-position center

  .venue-info
    flow(row)
    padding 30px

  .left-part
    flex 2
    text-align left

    p
      font-weight 300
      color text-color

  .right-part
    text-align right
