
.map
  flow(column)
  height 100vh
  nav
    padding 10px
    position relative
    button
      absolute top right
      height 100%
      &.left
        absolute top left 

  planmap
    position relative
    flex 1
    flow(column)

    ui-gmap-google-map
    .angular-google-map
    .angular-google-map-container
      flow(column)
      flex 1
      height 100%


    floating
      absolute top left
      width 100%
      background-color transparent
      z-index 1
      flow(column)

@require "venuehighlighter/venuehighlighter"
