@require "../base"
@require "components"
@require "routes"

body
  background-color dark-blue
  color s-white

  flow(column)
  > ui-view
    margin 10px

body > ui-view
  transition 0.2s all linear

  &.app-newjob
    font-size 26px
