doctype html
html(ng-app="svinarad.poslodavac", lang="sr/sr")
  head
    base(href="/poslodavac/")
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description', content='Sada svako ko hoce, moze da radi!')
    meta(name='author', content='Zeljko Nesic')
    title Svi Na Rad
    //- link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/poslodavac/css/index.css')
      
    include ../base/global/favicon
  body
    ui-view(class="{{ nowState | dashCase }}")
      
    script(src='../js/cfg.js')
    script(src='/poslodavac/js/vendor.js')
    script(src='/poslodavac/js/templates.js')
    script(src='/poslodavac/js/app.js')
    include ../base/global/google-analytics
