.md-toolbar-tools
  h4
    margin-bottom 5px

  .md-mini
    margin-right 10px

  .profile
    padding-bottom 10px

md-sidenav
  md-content
    .md-icon-button
      text-align left
      flow(row)
      align-items center
      margin 10px 4px 
    ng-md-icon

      margin-right 10px
      fill brand-color

      svg
        margin-top 5px
