h1 Crap, it happens sometimes.

h4 But, don't worry! We we will fix it. 

form(name="forgot")
  md-input-container 
    label Email 
    input(type="email", ng-model="forgotEmail", ng-required="true")
    
  md-button.md-primary.md-raised(ng-click="attempt(model.forgot(forgotEmail))") OK, restore my memory!
