
h2 Thanks for choosing Jonny Ibiza

h3 {{ model.first_name }} will receive an email with your information and will contact you within 24 hours.

h4 If you are traveling within the next 24 hours, feel free to send us an email at  
  a(href="mailto:mrwolf@jonnyibiza.com") mrwolf@jonnyibiza.com
  |  and we will get you sorted as soon as possible
  

button(ui-sref="waiting") OK
