.stripe
  margin-top 20px
  margin-right 10px
  height 50px
  image '/img/outline.png'
  background-size 140px
  background-repeat no-repeat

  +mobile()
    background-size 120px

  background-position-x center

  +mobile()
    background-position-x right


.order
  flow(column)

  h1
    font-size 1.8em
    margin-top 40px
    color brand-color

  h2
    font-size 3em
    margin-top 20px
    text-align center
    margin-bottom 20px
    font-weight 400
    color gray-1

  .narrow-container > label
    text-align center
    margin-bottom 40px


  form
    flow(column)
    margin 30px
    text-align left

  label
    margin-bottom 20px
    font-weight 600
    color gray-3

  button
    padding-left 6px
    padding-right 6px
    margin-top 25px

  .card-error
    color darkred

  .input-container
    flow(column)
    width 100%

    label
      margin 10px 20px
      font-weight 300
      font-size 18px


    input
      flex 1


  .split-row .input-container:first-child
    margin-right 10px


.after-buy
  max-width 500px
  color gray-1

  h2
    font-size 40px
    margin-top 150px
    margin-bottom 30px
    font-weight 700

  h3
    font-size 30px
    margin 40px 20px

  h4
    font-size 24px
    font-weight 300
    a
      color brand-color

  button
    margin-top 40px
