

h1 Hire {{ opted.first_name }}

form.narrow-container(stripe-form="payment", name="order")
  .stripe
  
  h2 50 €
  label Payment amount 
  
  form-row
    .input-container
      label Name on card 
      input(type="text", placeholder="Name on card")
      
  form-row 
    .input-container 
      label Credit card number 
      input(type="tel", placeholder="Credit Card No", ng-model="number", payments-format="card", payments-validate="card")
  
  form-row.split-row
    .input-container
      label Expiry date
      input(type="tel", payments-format="expiry", ng-model="expiry", placeholder="MM/YYYY", payments-validate="expiry")
    .input-container
      label Security code 
      input(type="tel", placeholder="cvv", ng-model="cvc", payments-format="cvc", payments-validate="cvc")
      
  form-row 
    .input-container 
      label Credit card number 
      input(type="tel", placeholder="Credit Card No", ng-model="number", payments-format="card", payments-validate="card")
      
  div.card-error(ng-hide="pending") {{ error }}
  button(type="submit", ng-click="start()" ng-hide="pending") Pay 50€
  .loader(ng-show="pending")
  
