@require 'listcheck/listcheck'

.root
  min-height 100vh
  background linear-gradient(top, #1EB4E1, #2CA388)
  color white
  h5
    text-transform uppercase
    font-size 1em
    letter-spacing 1.5px
    font-weight 400

.root.game-0
  background linear-gradient(top, #1EB4E1, #1BA181)

.root.game-1
  background linear-gradient(top, #1EB4DF, #1D9140)

.root.game-3
  background linear-gradient(top, #488B80, #279147)

.root.game-4
  background linear-gradient(top, #2A8E4F, #86B125)

.root.game-5
  background linear-gradient(top, #0F7C33, #90B428)

.root.game-6
  background linear-gradient(top, #0F7C33, #9EB628)
.root.game-7
  background linear-gradient(top, #5FB625, #A6A425)
.root.game-8
  background linear-gradient(top, #5FB625, #A8A327)

.root.game-9
  background linear-gradient(top, #9EB628, #C1C02C)
.root.game-10
  background linear-gradient(top, #BFA127, #DDE657)
.root.game-11
  background linear-gradient(top, #C6C62D, #E7EE2E)

.root.game-12
  background linear-gradient(top, #C6C62D, #E8EF37)

.root.game-13
  background linear-gradient(top, #D7C32A, #FAC62A)

.root.game-14
  background linear-gradient(top, #D7C329, #F99A26)

.root.game-15
  background linear-gradient(top, #D7C329, #FA971F)

.root.game-16
  background linear-gradient(top, #FD9A2A, #FA601E)

.root.game-17
  background linear-gradient(top, #FD9A2A, #FC6020)

.root.game-18
  background linear-gradient(top, #FD9A2A, #FC6020)



duration = .1s

.game[ui-view].ng-enter .paper
  transition-duration duration
  opacity 0

.game[ui-view].ng-enter-active .paper
  position absolute
  opacity 1


.game[ui-view].ng-leave .paper
  position absolute
  transition-duration duration
  opacity 1
  width 100%


.game[ui-view].ng-leave-active .paper
  opacity 0

.game
  flow(column)
  justify-content center
  align-items center

  h5
    margin-bottom 20px

  .game-buttons
    flow(column)
    @extend .narrow-container

  button.next
    margin-top 20px
    margin-bottom 20px
    min-width 300px
    +mobile()
      min-width 220px

.paper
  background white
  border-radius 3px
  max-width 500px


  h4
    color text-color

  section
    padding 0
    margin 0

  input[type="tel"]
  input[type="text"]
    text-align center
    border none
    outline none
    font-size 1.2em
    padding 0px
    border-bottom 1px #DFDFDF solid
    line-height 45px
    font-width 300


  select
    border none
    outline none
    background-color transparent
    font-size 2em

  section
    flow(column)
    padding 10px 20px
    border-bottom 1px solid lightgrey
    .label
      text-align left
      color lightgrey

    h4
      text-align left
      margin-top 10px
      color brand-color


  .range-group
    flow(row)
    div
      flex 1

      h4
        text-align center

  textarea
    border 0
    outline 0
    margin 10px 0
    font-size .8em
    border-bottom 1px solid lightgrey

.paper-wrapper
  flow(row)
  position relative
  width 100%
  justify-content center
  align-content center


  .paper
    margin 0 20px
    flex 1

.paper-after
.paper-before
  content ''
  width 10px
  height 90%
  background-color rgba(255, 255, 255, .4)
  border-radius 1px

.paper-before
  absolute top 10px left

.paper-after
  absolute top 10px right


game-dates
  flow(column)
  margin 20px
  .date-labels
    font-size 20px
    letter-spacing 2px
@require 'level'
@require "game-over"

.boss-level
  font-size 32px
  letter-spacing 1px
  font-weight 900
  background-color success
  box-shadow 1px 1px 2px gray-1

  &:hover
    background-color lighter-success
