extends ../../base/global/nav.jade

block main
  h2 We have tried telepathic mind-reading but we failed.

  h4 Would you please do the honor and do this two minute game? Thanks!

  h1: button(ui-sref="game") OK, time is ticking
