h4 List of unregistered users 

.ui.relaxed.divided.list 
  .item(ng-repeat="item in model")
    i.large.spy.middle.aligned.icon 
    .content 
      a.header {{ item.about.email }}
      .description 
        div(ng-if="item.dates") 
          | {{ item.dates.start | humanTime:'DD-MMM' }}
          | - 
          | {{ item.dates.end | humanTime:'DD-MMM' }}
