.small-logo

.keep-calm

.footer
  .soothing-msg 
    p Your plan will appear here within
    p.bigger: waiting-plan(done="next()")
  
  
  .expert(ui-sref="chat-agent")
    
    .unread-wrapper
      button.icon(bg-image="model.expert.pic.thumb")
      .unread-count(ng-if="model.unseen.agent > 0") {{ model.unseen.agent }}
      
      
    button Chat with {{ model.expert.first_name }}
    
  .unread-wrapper.off-20(ui-sref="chat-us")
    button.minimal Chat with 'Mr. Wolf'
    .unread-count(ng-if="model.unseen.us > 0") {{ model.unseen.us }}
