h1.ui.header.teal Login 

form 
  div: input(type="email", ng-model="email", name="email", placeholder="email") 
  div: input(type="password", ng-model="pass", name="pass", placeholder="password")
  
  p
    button(ng-click="model.login(email, pass)") Login
  
