
header-color = #020C25

.plan

  flow(column)
  font-size 18px

  .icon
    circle(34px, transparent)
    &.beaches
      bgimage '/img/plan_beaches.png'

    &.accomodation
      bgimage '/img/plan_stay.png'

    &.tips
      bgimage '/img/plan_tips.png'

    &.parties
      bgimage '/img/plan_bars.png'

    &.food
      bgimage '/img/plan_restaurants.png'

    background-size 34px!important

  nav
    > div
      margin 10px 0
      position relative
      button
        absolute top right
        height 100%
        width 60px
        font-size 8px
        letter-spacing 0px
        fill white
        padding 0
        padding-bottom 30px
        text-align center
        border-radius 0
        svg
          margin-left 10px
        span
          margin-top -10px

    .note
      margin-bottom 25px

  header
    background-color header-color
    padding 15px
    color white
    text-align left
    padding-left 25px
    font-weight 300

  switch-plane
    flow(column)
    position relative
    flex 1

  plan-listing
  plan-map
    flow(column)
    transition .2s all cubic-bezier(.32,-0.04,.11,.89)
    position absolute

    &.on-scene
      position relative
      transform rotateY(0deg)
      flex 1

    &.on-scene-remove
      transform rotateY(-55deg)

    &.on-scene-add
      transition-delay .07s


    &.off-scene
      height 0

  plan-map
    transform rotateY(90deg)

  plan-listing
    transform rotateY(-90deg)


  content
    @extends .narrow-container
    width 100%
    padding 20px 0
    flow(column)
    text-align left
    margin-bottom 10px

  category

    box-shadow 0 0 5px 1px rgba(0, 0, 0, .2)
    margin 8px
    padding 5px
    padding-bottom 0
    margin-top 0
    flow(column)

  category-header
    flow(row)
    height 50px
    line-height 28px
    font-size 14px
    font-weight 600
    padding 0 5px
    justify-content space-between

    h5
      margin-left 15px

  category-info
    flex 1
    flow(row)

  category-content
    flow(column)
    margin-left 50px
    overflow hidden

  category-item
    flow(row)
    align-items center
    margin-bottom 15px
    font-size 15px
    .icon
      circle(40px, brand-color)
      flow(row)
      align-items center
      justify-content center
      margin-right 10px
      fill white
      svg
        margin-top 7px
        margin-left 7px
        flex 1

    a
      color gray-1
      text-decoration none

    &.hinted-item
      opacity .5
      height 20px
      margin-bottom 0
      position relative

      .shadow
        absolute left bottom right
        height 150%
        background linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 1))



  category-link
    flow(row)
    line-height 25px

  items-bubble
    circle(23px, brand-color)
    color white
    margin-top 5px
    margin-left 5px
    margin-right 10px
    font-size 12px

  .arrow
    padding-top 5px
    fill gray-5
    width 14px





  small-profile
    flow(column)
    border-bottom 1px solid gray-3
    .profile-pic
      background-color gray-2
      height 224px
      position relative
      background-position center center
      background-size cover

      h1
        font-family 'Lobster'
        absolute top 20px left 30px
        font-size 24px
        color white
        letter-spacing 2px
        font-weight 300

        text-shadow 3px 4px 6px brand-color

      .signature
        absolute bottom 20px right 30px
        width 150px
        height 90px
        background-color rgba(255,255,255,.5)
        color white

    button.chat-with-agent
      @extends .narrow-container

      margin 30px 80px
      +mobile()
        margin 30px 20px


  .disclamer
    @extends .narrow-container

    padding 20px
    text-align left
    color gray-5
    font-weight 300
    line-height 26px
    border-bottom 1px solid gray-3

    a
      color brand-color
      text-decoration none

  .feedback
    @extends .narrow-container

    button
      font-size 18px
      text-transform none
      letter-spacing 1px
      background-color transparent
      color brand-color
      h6
        color gray-5

@require "map/map"
@require "category/category"
