nav.brand(ng-init="listOrMap = 'list'")
  div
    .small-logo
    button(ng-click="toggle()") 
      svg-icon(p="map", size="30", ng-show="listOrMap == 'list'")
      span(ng-show="listOrMap == 'list'") Treasure Map 
      svg-icon(p="list", size="34", ng-show="listOrMap == 'map'")
      span(ng-show="listOrMap == 'map'") List
  .note {{ options.user.first_name }}'s plan with love from {{ options.expert.first_name }}

switch-plane
  plan-listing(model="model", ng-class="listOrMap == 'list' ? 'on-scene' : 'off-scene'")
  plan-map.map(ng-class="listOrMap == 'map' ? 'on-scene' : 'off-scene'")
