root(ng-controller="RootController", layout="row")
  .ui.menu(ng-if="auth")
    a.item(ui-sref="home", ui-sref-active="active") 
      i.icon.home
      | Mr. Wolf's den
    a.item(ui-sref="allchats", ui-sref-active="active")
      i.icon.mail 
      | All Chats
      .ui.label.red(ng-if="unseen > 0") {{ unseen }}
    a.item(ui-sref="unregistered", ui-sref-active="active")
      i.icon.spy 
      | Unregistered visitors
      
    a.item(ui-sref="nonpayed", ui-sref-active="active")
      i.icon.lemon
      | Non-paying users 
      
    a.item(ui-sref="experts", ui-sref-active="active")
      i.icon.fire
      | Experts 
      
    a.item(ui-sref="experiments", ui-sref-active="active")
      i.icon.lab
      | Experiments 

  .main(ng-class="'{{ nowState }}'", autoscroll, flex)        
    ui-view/
  
