main
  h1 Otvoreni Poslovi 
    span.note ({{ model.oj.length }})

  jobscont
    .job(ng-repeat="job in model.oj")
      a.title(ui-sref="details({id:job.$id})") {{ job.title }}
      .micro.profil 
        img(ng-src="{{ job.employer.avatar.url }}")
        .name 
          a(href="#") {{ job.employer.name }}
          
          .rating  &#9733;&#9733;&#9733;&#9733;&#9734;
        
      .content 
        .left 
          .description {{ job.description }}
          .credits {{ job.credits }} RSD
          .applicants ima {{ job.applicants | cnt }} prijavljenih
        .right 
          h2(ng-show="model.meApplied(job)") Vec si prijavljen/a na ovaj ;)
          button(ui-sref="details({id:job.$id})", ng-hide="model.meApplied(job)") Prijavi se na posao
      
