.client-item(layout="row", layout-align="space-between", ng-class="{'fullfilled': client.fullfilled}")
  section.profile-avatar(layout="column", layout-align="center center")
    img.md-avatar(alt="{{ client.name }}", src="/img/jonny_gold@2x.png")
    .company(layout="row")
      ng-md-icon(icon="person") 
      div {{ totalpeople }}
      
  section(layout="column", flex)
    headline {{ client.name}}
    subhead {{ client.age }} - {{ client.sex }}
    div.brand {{ client.residence }}
    div {{ dates.start|humanTime:'Do MMM' }} - {{ dates.end|humanTime:'Do MMM' }}
    

  section.md-body-2 
    div(ng-hide="client.fullfilled")
      div Time Left 
      div {{ t.timeleft.get('hours') }}h {{ t.timeleft.get('minutes') }}mins
      
    div(ng-show="client.fullfilled")
      div.completed(layout="row", layout-align="start center")
        ng-md-icon(icon="check_circle")
        div Completed
    
    .ammount(ng-class="{'earned': client.fullfilled}") 40&euro;
