.home
  background gray-9
  > md-card
    margin 20px 15px
    background #FAFAFA
    &.faded
      background #F1F1F1

    md-card-content
      padding 8px 16px

  .bottom-row
    text-align center

    h4
      font-size 35px
      font-weight 400
      margin-bottom 0
      margin-top 10px
      color text-color
    div
      color gray-5

  md-tabs
    background white

  .completed
    color success
    fill success




.md-headline
headline
  font-size 22px
  font-weight 400

subhead
  color gray-4

client-info
  margin 10px 0

.ranking
  label
    color gray-4
    margin-right 5px
  h3
    color gray-1
    font-size 30px
    margin 0 0

.left-part label 
  font-size 12px

.right-part
  min-width 130px
  svg
    width 18px!important
    fill brand-color

client-chat-card
  min-height 70px

.chat-tab
  flow(row)
  .unread-bubble
    margin-left 4px
.unread-bubble
  color white
  circle(20px, brand-color)

.no-clients
  font-size 18px
  color gray-5
  padding 20px 0
  padding-left 20px

.completed-hint
  background #E5E5E5
  color gray-4
  padding 5px
  text-transform uppercase
  padding-left 20px
