md-toolbar: .md-toolbar-tools(layout="row")    
  md-button.md-icon-button(ng-click="toggle()", aria-label="Open Menu")
    ng-md-icon(icon="menu")
  h2 {{ model.user.first_name }} {{ model.user.last_name }}

  span(flex)
  md-button.md-fab.md-mini(aria-label="Your profile", ui-sref="profile")
    img.md-avatar(ng-src="{{ model.user.pic.thumb }}")


md-card(ng-class="{'faded': !model.user.available}"): md-card-content(layout="column")
  .top-row(layout="row", layout-align="space-between")
    .left-part(layout="row", layout-align="start center")
      md-switch.md-green(ng-model="model.user.available", aria-label="Receiving clients", ng-change="model.user.$save()")
      label(flex="50") 
        span(ng-hide="model.user.available") You are currently NOT receiving clients
        span(ng-show="model.user.available") You are currently receiving clients
    .right-part(layout="column", layout-align="start end")
    
      .ranking(layout="row", layout-align="end center", layout-wrap)
        label Ranking
        h3 2/7
      svg-stars.small(stars="model.user.rating")
  .bottom-row(layout="row", layout-align="space-between center")
    .earned
    
      h4.brand {{ model.user.earned }}&euro;
      div Earned

    .active-plans(layout="column", layout-align="center center")
      h4 {{ model.users.length }}
      div Active Plan
        span(ng-if="model.users.length > 1") s

    .reviews
      h4 0
      div Reviews

md-tabs(md-dynamic-height="true", md-border-bottom)
  md-tab(label="Plans")
    md-content
      md-list(layout="column")
        md-list-item.no-clients(ng-show="!model.users.length") You have no pending clients 
        md-list-item(ng-repeat-start="client in model.users", layout="column")
          client-item(client="client", flex, layout-fill, ui-sref="client({id: client.$id})")                
        md-divider(ng-repeat-end)
            
        md-list-item.completed-hint(ng-show="model.fullfilled.length") Completed plans
        md-list-item(ng-repeat-start="client in model.fullfilled", layout="column")
          client-item(client="client", flex, layout-fill, ui-sref="client({id: client.$id})")                
        md-divider(ng-repeat-end)
            
  md-tab(label="<div class='chat-tab'>Chats <div class='unread-bubble' ng-if='model.unseen > 0'>{{ model.unseen }}</div></div>")
    md-content.md-padding
      h2(ng-hide="model.rooms") No chats
      md-list 
        md-list-item(ng-repeat="room in model.rooms", ui-sref="chat-user({id: room.client.$id})")
          client-chat-card(layout="row", layout-align="space-between")
            //- profile-avatar
              //- img.md-avatar(alt="{{ room.client.name }}")
            
            section(layout="column", flex, layout-align="center start")
              headline {{ room.client.name }}
              subhead
                span(ng-if="room.chatRoom.lastMessage().who == model.user.$id") You: 
                span(ng-if="room.chatRoom.lastMessage().who != model.user.$id") {{ room.client.name }}: 
                span {{ room.chatRoom.lastMessage().what }}
                
            section(layout="column")
              .last.brand {{ room.chatRoom.lastMessage().at|humanize }}
              .unread-bubble(ng-if="model.helpUnseen(room.chatRoom) > 0") {{ model.helpUnseen(room.chatRoom) }}
            
          md-divider
