.first-time
  margin-top 30px
  text-align center
  font-size 32px
  h2
    color tint(blue, 60%)
    font-weight 900
    text-shadow 0 2px 2px dark-gray

  button
    margin-top 30px
button
  outline none
  border none
  font-size 18px
  padding 10px 7px
  border-radius 5px
  background transparent
  color s-white
  cursor pointer
  transition all .3s ease-in
  &.primary
    background-color green
    font-weight 700

    &:hover
      background-color dark-turquise

  &:disabled
    color dark-s-white
    background dark-silver

    &:hover
      background-color dark-silver

.job
  margin 20px

  h1
    font-weight bold
