.details

  flow(column)
  background #FDFDFD
  box-shadow 0 -1px 4px gray-5
  padding 30px

  h1
    font-size 32px
    font-weight 700
    margin-bottom 5px

    color dark-red
  .rest
    flow(row)
    padding 10px 10px
    .left
    .right
      flow(column)

    .left
      flex 1
      padding-right 30px

    .right
      width 200px

      img
        height 180px
        width 180px
        border-radius 20px

  .moredetails
    flow(row)

    margin-top 30px
    .credits
      font-size 18px
      color darker-green
      font-weight 700
      span
        color gray-2
        font-size 14px


    .where
      max-width 100px
      padding-right 30px

      p
        margin-top 10px
        font-weight 900

        span
          color gray-2

    .description
      flex 1

  .applicants
    margin-top 20px

    .applicant
      transition all .4s ease-in
      margin-top 5px
      font-size 14px

      &:hover
        color success

      &.ng-enter
        background white
      &.ng-enter-active
        background darker-green

      &.ng-leave
        background brand-color
        color darker-brand

      &.ng-leave-active
        height 0

.bravo
  background-color #92DFF1
  color white

  .finished
    img.divno
      border-radius 20px
