.cont(ui-view="")
  .top
  .rest(ng-if="model")
    .left 
      h1 {{ model.title }}
      .moredetails 
        .where 
          .credits 
            span Naknada: 
            | {{ model.credits }} rsd
          
          p 
            span Gde: 
            | {{ model.location.text }}
          p 
            span Satnica: 
            | {{ model.total_working_hours }}
          p 
            span U periodu: 
            | {{ model.workingPeriod }}
            
          
          
        .description 
          p {{ model.description }}
          
          .application
            button.primary(ng-click="attempt(options.applyforjob(model))", ng-if="!options.meApplied(model)") Prijavljujem se za ovaj posao!
            button.secondary(ng-click="attempt(options.removeapplication(model))", ng-if="options.meApplied(model)") Odjavljujem se od ovog posla!

    .right.profil 
      .hint Poslodavac
      img(ng-src="{{ model.employer.avatar.url }}")
      h2 {{ model.employer.name }}
      .rating {{ model.employer.rating }}

      .applicants 
        .applicant(ng-repeat="apl in model.applicants", ng-class="") {{ apl.name }}
          
