.details
  flow(column)
  background #FDFDFD
  box-shadow 0 -1px 4px gray-5
  padding 30px

  h1
    font-size 32px
    font-weight 700
    margin-bottom 5px

  .rest
    flow(row)

    .left
    .right
      flow(column)

    .left
      flex 1
      padding-right 30px

    .right
      width 200px

      img
        height 180px
        width 180px
        border-radius 20px

  .moredetails
    flow(row)

    margin-top 30px
    .credits
      font-size 18px
      color darker-green
      font-weight 700
      span
        color gray-2
        font-size 14px
        

    .where
      max-width 100px
      padding-right 30px

      p
        margin-top 10px
        font-weight 900

        span
          color gray-2

    .description
      flex 1
