simpleselect
  border-radius 10px
  background-color white
  flow(column)
  flex 1
  margin 10px 50px
  font-size 26px
  text-align center
  font-size 14px
  text-transform uppercase
  font-weight 600
  cursor pointer

  bestoption
    padding 20px

simploptions
  flow(column)
  flex 1



  simplopt
    flex 1
    padding 20px

    letter-spacing 1px

    &.simplected
      color lighter-brand

    +desktop()
      &:hover
        background-color gray-9
