html
  head
    title #{title}
    link(rel="stylesheet")&attributes({href:cssTarget})
  body
    script(type="text/javascript")&attributes({src:jsTarget})
    script(type="text/javascript")&attributes({src:jsTargetInit})
