button-group
  button
    border 1px solid transparent

  button:not(:first-child):not(:last-child)
      border-radius 0

  button:first-child
    border-radius radius 0 0 radius
  button:last-child
    border-radius 0 radius radius 0

  button.active
    background whitesmoke
    color brand-color
    border 1px dashed brand-color
    box-shadow inset 1px 0 10px 6px rgba(50, 50, 50, .1)








