label(ng-hide="dates.start") Tap on Start and End Dates Below
button.inverse.date-labels(ng-click="removeDate()", ng-show="dates.start")
  span(ng-show="dates.start") {{ dates.start.format('D MMM') }} -
  span(ng-show="dates.end") &nbsp;{{ dates.end.format('D MMM') }}

kalendario(day-click="clicked(day)", day-disabled="disabled(day)", day-highlighted="highlight(day)")

form-row
  input(type="checkbox", ng-model="flexible")
  label Check box if dates are flexible
