.footer
  .narrow-container
    h1 SIGN UP TO START YOUR IBIZA ADVENTURE.
    
    a.j-btn.reward(href="/app", onclick="reward()") Let's get started
    a.j-btn.minimal(href="/expert/signup") Are you an Ibiza Local expert? 
    
    h3 Questions?
    p Contact us directly at 
      a(href="mailto:mrwolf@jonnyibiza.com") mrwolf@jonnyibiza.com
      
