script(type="application/javascript", src="/js/svg.min.js")
script(type="application/javascript", src="/js/sugar.min.js")
script(type="application/javascript", src="/js/svg.filters.min.js")

#hex
  
  

header 
  h1 SVI NA RAD! 

section.intro
  .shade-cover
  .overlay-content 
    h2 Sistem za lako pronalaženje privremenog posla

    .cta 
      a.crveni(href="/radnik") Za Radnika  
      a.plavi(href="/poslodavac") Za Poslodavca

section.kako-radi-rad
  h2 KAKO RADI RAD?

  h4 Ideja nam je postavljanje institucije rada na zdravim osnovama. 
  
  .step
    h3 Poslodavac postavi posao 
    
  .step 
    h3 Radnik se prijavi na posao
    
  .step 
    h3 Poslodavac odabere Radnika
    
  .step 
    h3 Radnik uradi posao 
    
  .step 
    h3 Poslodavac je zadovoljan urađenim poslom
    
  .step 
    h3 Radnik dobija zasluženi dogovoreni novac 
    
  .step 
    h3 Obe strane međusobno ocenjuju jedna drugu, kako bi u budućnosti svi znali 
      strong ko je ko. 

//- script(type='application/javascript', src='/js/index.js')
