.client-item(layout="row", layout-align="space-between start")
  section.profile-avatar(layout="column", layout-align="start")
    img.md-avatar(alt="{{ client.name }}", src="/img/jonny_gold@2x.png")
    .company(layout="row")
      ng-md-icon(icon="person") 
      div {{ totalpeople }}
      
  section(layout="column", flex)
    headline {{ client.name}}
    subhead {{ client.age }} - {{ client.sex }}
    div.brand {{ client.residence }}
    div {{ dates.start|humanTime:'Do MMM' }} - {{ dates.end|humanTime:'Do MMM' }}
    

  section.md-body-2 
    div Time Left 
    div {{ t.timeleft.get('hours') }}h {{ t.timeleft.get('minutes') }}mins
    .ammount 40&euro;
