h1 Clients that are waiting for the service  
  ng-md-icon(icon="face")

table.ui.table.unstackable 
  thead: tr 
    th Client
    th C-E 
    th Selected expert 
    th Plan 
      small (time left to deliver)
  
  tbody: tr(ng-repeat="case in model.cases.notdone")  
    td: .ui.teal.fluid.button(ui-sref="user({id: case.user.$id})") {{ case.user.name }} 
    td: .ui.button(ui-sref="agent-chat({id: case.user.$id})") {{ case.chat.length }}
    td: .ui.blue.fluid.button(ui-sref="user({id: case.user.expert})") {{ case.expert.first_name }} {{ case.expert.last_name[0] }}  
    td 
      .ui.button.fluid(ui-sref="plan({id: case.user.$id})")
        .ui.label.strong(ng-class="case.plan.ready ? 'green' : 'orange'")
          ng-md-icon(icon="check_circle", size="10", ng-if="case.plan.ready", style="fill: green")
          | {{ case.plan.categories|cntItems }}
        
        div {{ case.plan.delivery|humanize }} 

h3.green.ui.header
  ng-md-icon(icon="check_circle", style="fill: green")
  | Done 

table.ui.table.unstackable
  thead: tr 
    th Client
    th C-E 
    th Selected expert 
    th Plan
  
  tbody: tr(ng-repeat="case in model.cases.done")  
    td: .ui.teal.fluid.button(ui-sref="user({id: case.user.$id})") {{ case.user.name }} 
    td: .ui.button(ui-sref="agent-chat({id: case.user.$id})") {{ case.chat.length }}
    td: .ui.blue.fluid.button(ui-sref="user({id: case.user.expert})") {{ case.expert.first_name }} {{ case.expert.last_name[0] }}  
    td 
      .ui.labeled.button.fluid
        | {{ case.plan.categories|cntItems }}
        plan-time-left(plan="case.plan", ng-show="case.plan")  
      
