@require "expert/expert"

.pickexpert
  flow(column)

  .cta
    padding 30px 0

.matching
  background-color #172138
  height 100vh
  color white
  flow(column)
  padding 60px
  font-size 24px

  .small-logo
    margin-top 20px
    margin-bottom 30px

  img
    height 261px
  p
    color white


.expert-image
  min-height 30vh
  overflow hidden

  background-size: cover;
  background-position: center;
  transition all 1s linear
  position relative

  &:after
    content ''
    width 120px
    height 60px
    absolute top 5px right 15px
    bgimage('/img/logo.png', contain)

  +above(500px)
    height 360px

  +below(500px)
    height 35vh

meet-expert
.cta
  flow(column)
  margin 5px 20px

  h1
    font-family 'Lobster', cursive
    font-weight 900
    font-size 32px
    margin 30px 0 10px 0
    color brand-color

  p
    font-size 20px
    font-weight 300
    margin-bottom 40px

  strong
    font-weight 900

  learnmore
    color brand-color

  .buy
    font-size 32px
    font-weight 600
    margin 15px 0



second-buttons
  flow(row)
  justify-content center
  margin-bottom 20px

  button
    max-width 50%
    padding 13px 5px
    white-space normal
    mih-height 60px

    &:first-child
      margin-right 30px

.pickexpert

  #top
    flow(column)
    align-items center
    vimeo-player
      background-color brand-color
      width 100%
      flex 1
      flow(column)
      iframe
        flex 1

  button.buy
    +mobile()
      font-size 20px


.money-back-badge
  image '/img/30day_.png'
  width 100px
  height 100px
  background-size 100px 
  align-self flex-end
