div.age-input
  .list-title Your name 
  input(type="text", placeholder="Your Name", ng-model="ans.name", ng-required="true")

div.age-input
  .list-title Your email 
  input(type="email", placeholder="Your Email", ng-model="ans.email", ng-required="true")
