game-about-details
game-about
  padding-top 30px
  padding-bottom 30px

  .age-input
    flow(column)


  select
  input[type="email"]
  input[type="text"]
  input[type="tel"]
    padding 0 30px
    margin 30px 60px
    border 1px solid gray-4!important
    font-size 22px!important
    width auto!important
    text-align center

    +mobile()
      margin 10px 6px

  .dropdown
    flow(column)

    select
      color brand-color
      border none!important
      outline none
      margin-left 0
      padding-left 20px
      font-size 16px
