form.form(name="profile")
  .field
    label Ime
    input(type="text", name="name", ng-model="model.first_name", ng-required="true")
      
  .field
    label Prezime
    input(type="text", name="last_name", ng-model="model.last_name", ng-required="true")
      
  //- .field 
  //-   label Opis 
  //-   input(type="text", name="description", ng-model="model.description", ng-required="true") 
    
  .field 
    label Avatar 
    input(type="file", placeholder="placeholder")
  
  .field 
    label Lokacija
    input(type="text", name="lokacija", ng-model="model.location", ng-required="true")
      
  .fields 
    h6 Kontakti 
    .field 
      label Broj telefona 
      input(type="tel", name="phoneno", ng-model="model.contacts.phone", ng-required="true")
    .field 
      label Whatsapp 
      input(type="checkbox", name="whatsapp", ng-model="model.contacts.whatsapp")
    .field 
      label Viber 
      input(type="checkbox", name="viber", ng-model="model.contacts.viber")
    
    .field 
      label Facebook 
      button Povezi Facebook 
      
    .field 
      label Twitter 
      button Povezi Twitter 
      
      
  .field 
    label Sposobnosti i sklonosti 
    textarea(row="4", ng-model="model.worker.affinities", ng-required="true")
  
  .fields
    h4 Vestine 
    .field 
      label Vestina 
      input(type="text", placeholder="Vestina")
      input(type="number", placeholder="na skali od 1-10")
    
    button Dodaj Novu Vestinu 
  
  .field 
    label Slika celog tela 
    input(type="file", placeholder="placeholder")
  
  .field.submit
    div(ng-show="pending") snima se 
    button.primary(ng-click="attempt(options.save(model))", ng-disabled="profile.$invalid || pending") Snimi izmene 
    button(ui-sref="intro") Zaboravi izmene
    
    
