.profile form
  max-width 300px
  .field
  .fields
    margin 10px 5px

  .field
    margin-top 15px
    flow(column)
    label
      font-size 14px
      font-weight 700
      margin-bottom 5px

    input
    textarea
      font-size 24px
      color gray-2
      border 1px solid gray-7
      outline none
      padding 5px
      border-radius 5px
      box-shadow none


  .field.submit
    flow(row)
    button
      margin-right 20px
    .primary
      width 250px
